
lattice/.build_status

lattice/.run_manager.ini

*.ini

*.log

*.ngo

*.html

*.xml

*.alt

*.bgn

*.ncd

*.pad

*.par

*.asd

*.drc

lattice/XP2_8_lattice.jed

*.mrp

*.ngd

*.p2t

*.p3t

*.prf

*.pt

*.t2b

*.twr

*.cam

*.hrr

lattice/XP2_8_tcr.dir/

synplify/.recordref

synplify/.recordref_modgen

*.areasrr

*.fse

*.htm

*.srd

*.srm

*.srr

*.db

*.srs

*.rpt

*.lpf

*.xdm

*.txt

*.prs

*.rptmap

*.szr

*.xck

synplify/synlog/

synplify/syntmp/

synplify/synwork/

synplify/dm/

*.edn

modelSim/transcript

*.wlf

*.mti

*.mem
