COMMERCIAL;
BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
#
# Logical Preferences generated for Lattice by Synplify 9.2.0, Build 057R.
#
# Period Constraints
FREQUENCY PORT "clock" 25.00000 MHz ;
# Output Constraints
# Input Constraints
# End of generated Logical Preferences.

